{% extends "base.html" %}
{% block body %}
    <div class="container">
{% for owen in submitted_owens %}
      <div class="panel panel-primary">
                <div class="panel-body">
                   <b> {{ owen.username }}</b> - {{ owen.victory }}
                   <p>submitted by: {{ owen.submitter }} </p> 
                </div>
                <div class="panel-footer">
                    {{ owen.time }}
                </div>
                
            </div>
{% endfor %}
{% endblock %}
