{% extends "base.html"%}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    
<div class = "container">
<div class = "panel panel-primary">
   <div class = "panel-heading">
      <a style="color: #ffffff">
    who do you believe the primary owen is??
      </a>
   </div>
   <div class = "panel-body">
    
   <form id="put_owen" action="/add_owen" method="POST">
          <div class = "inner-panel-body">
          <input type="text"
            id="username"
            name="username"
            placeholder="username of owen">
          <br>
          <input type="text"
            id="victory"
            name="victory"
            placeholder="describe the victory">
          <br>
          <input type="submit"
                value = "Submit">
  </form>
    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    
    (function($){
        function processForm( e ){
    
        var formData = {
            'username'              : $('input[name=username]').val(),
            'victory'               : $('input[name=victory]').val(),
        };

    
            $.ajax({
                type:'PUT',
                url: '/add_owen',
                dataType: 'json',
                contentType: 'application/json',
                data:JSON.stringify(formData)
    
            });

            e.preventDefault();
        }

        $('#put_owen').submit( processForm );
    })(jQuery);
</script>





    
         <p>
         <center>
        </p>
         </a>
      </div>
   </div>
</div>
{% endblock %}
