{% extends "base.html"%}
{% block body %}

<div class = "container">
<div class = "panel panel-primary">
   <div class = "panel-heading">
      <a style="color: #ffffff">
    who do you believe the primary owen is??
      </a>
   </div>
   <div class = "panel-body">
          <div class = "inner-panel-body">
            <form>
    Owen Name:&nbsp &nbsp
    <input type="text" name="owen">
    <br>
    
     <textarea rows="4" cols="50" style="border:solid 1px black;">
    </textarea>
    <center>
    <button type="button"> submit </button>
    </center>
            </form>
         <p>
         <center>
        </p>
         </a>
      </div>
   </div>
</div>
{% endblock %}
