{% extends "base.html"%}
{% block body %}

<div class = "container">
<div class = "panel panel-primary">
   <div class = "panel-heading">
      <a style="color: #ffffff">
    who do you believe the primary owen is??
      </a>
   </div>
   <div class = "panel-body">
   <form action="/add_owen" method="PUT">
          <div class = "inner-panel-body">
          <input type="text"
            username="usernameString"
            placeholder="username of owen">
          <input type="text"
            victory="owenVictory"
            placeholder="describe the victory">
          <br>
          <input type="submit"
                value = "Submit">
  </form>
         <p>
         <center>
        </p>
         </a>
      </div>
   </div>
</div>
{% endblock %}
