<div class="card">
    <h3 class="card-header">
        <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug">
            Advertisements by CSH: Plug
        </a>
    </h3>
    <div class="card-body">
        <div class="plug-body">
            <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug" style="color: #000000">
                <img style="width: 100%" src="https://plug.csh.rit.edu/data" alt="Advertisements by CSH: Plug">
            </a>
        </div>
    </div>
</div>